<br/><br/>
<center> <a style="font-size: 40pt; font-weight: bold; color:black"> DATA SCIENCE BOOTCAMP </a> </center>
<br/><br/>
<center> <a style="font-size: 30pt; font-weight: bold; color:black"> PYTHON FOR DATA SCIENCE </a> </center>
<br/><br/>

### Python is a high-level, interpreted programming language known for its simplicity and readability. It was created by Guido van Rossum and first released in 1991.

### Curriculum:
    1. Data types
    2. Control flow
    3. Functions
    4. Libraries (Pandas and Numpy)

## Hello World

In [1]:
#The print function for displaying ouput to the screen
print('hello world')

hello world

# 1. Data Types

* **Integers** - Numbers e.g 1 or 2, represented as **int**
* **Floats** - Decimal point numbers e.g 2.45, represented as **floats**
* **Strings** -alphabets, words or sentences represented as **str**
* **Booleans** - True or False values, repressented as **bool**
* **List**- Ordered sequence of objects
* **Dictionaries** - 
* **Sets** -
* **Tuples** -

In [2]:
#Integers
print(type(5))

#floats
print(type(5.789))
      
#Strings
print(type('john'))

#Booleans
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Expressions

These operations performed by python e.g 54 + 23, in this case the opearands are 54 and 23 and operator is +

In [3]:
#Addition
print(5 + 9)

#Subtraction
print(34 - 10)

#multiplication
print(4 * 3)

print(3**2)
#division
print( 45 / 5)
print( 50 // 6)
print(43 % 8)

14
24
12
9
9.0
8
3

# Variables
Variables are containers for storing data values
Rules for creating variables
* Case sensitive
* snake case
* Cannot start with a number
* Do not overwrite keywords

In [4]:
#Assigning Variables
num_1 = 50
num_2 = 10

#Performing operations with variables
print(num_1 / num_2)

5.0

# String Operations

<img src='python%20doc.png'/>

In [5]:
py = 'Python'
py[0]

'P'

In [6]:
#Functions
len(py)

6

In [7]:
#slicing
py[3:]

'hon'

In [8]:
#concatenation
skill = 'Data science'
print('I' + 'am' + 'learning' + skill)

#multiplication
'Ha ' * 3

IamlearningData science

'Ha Ha Ha '

In [9]:
#fstrings
name = 'John Doe'
level = 300
dept = 'Marine Engineering'
cgpa = 4.3
first_class = cgpa >= 4.5

print(f'''My name is {name}, I am a {level} level student of the department of {dept},
University Of benin with a current cgpa of {cgpa}''')
print(f'First_class: {first_class}')

My name is John Doe, I am a 300 level student of the department of Marine Engineering,
University Of benin with a current cgpa of 4.3
First_class: False

In [10]:
#strings methods
py.upper()
py.lower()

'python'

In [11]:
column = 'price: $50,000'
new_column = column.split(' ')

In [12]:
new_column[1].replace('$', '')

'50,000'

In [13]:
int(50_000)

50000

## Excape sequences

In [14]:
print('hi \nThis is a new line')
print('can you find \t the tab')

hi
This is a new line
can you find 	 the tab

### List

In [15]:
things = list()
books = []

In [16]:
colors = ['red', 'blue', 'green', 'black']

#list slicing
colors[1:3]

['blue', 'green']

In [17]:
#matrix #nesting
matrix = [
    [1, 7, 3, 0],
    [0, 6, 2, 8],
    [9, 4, 2, 6]
]
print(type(matrix))

<class 'list'>

In [18]:
matrix[0][3]

0

### List methods
<img src='Capture.PNG' />

In [31]:
# list methods - methods are actions specific to a data type
bag1 = ['books', 'pen', 'ipad']
bag2 = ['knife', 'snacks', 'phone']

#try important methods on lists

## Tuples
Tuples are similar to list but are created with (...,...) or simply comas. They cannot be changed once created.
Tuples are ordered collection of data that are immutable

In [20]:
numbers = (1, 2, 3, 5)
#tuple methods are the similar to that of list

### Sets
A set is an unordered collection data type that is iterable, mutable and has no duplicate elements.

In [21]:
var = {"Geeks", "for", "Geeks"}
type(var)

set

### Dict
Dictionaries are aimed at storing values of the form key-value with the syntax {key1 : value1, ...}

In [39]:
d = {"param1" : 1.0, "param2" : True, "param3" : "red"}
print(d,type(d))

{'param1': 1.0, 'param2': True, 'param3': 'red'} <class 'dict'>

In [40]:
print(d["param1"])
d["param1"] = 2.4
print(d)

1.0
{'param1': 2.4, 'param2': True, 'param3': 'red'}

# 2. Control flow
## Conditional Statements
### If, Elif, Else 

The  `if:` condition (mind the `:`) represents what is executed if the condition is true. **The indentation is primordial and at the core of Python.**

In [44]:
statement1 = True 

if statement1:
    print("print if statement1 is True")

printed if statement1 is True
still inside the if block

In [45]:
#Acting as inputs
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")
elif statement2:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

### Loops allow us run lines of code over and over again. firstly, lets consider `For loops`

## For loop

The syntax of `for` loops is `for x in something:` followed by an indentation of one tab which represents what will be executed. 

The `something` above can be of different nature: list, dictionary, etc. but has to be an iterable

In [46]:
for x in [1, 2, 3]:
    print(x)

1
2
3

In [3]:
items = ['straw_hat', 'pair of trousers', 'bag']
for item in items:
    print(item)

straw_hat
pair of trousers
bag

In [47]:
sentence = ""
for word in ["Python", "for", "data", "Science"]:
    sentence = sentence + word + " "
print(sentence)

Python for data Science

In [5]:
#Nested for loops
for item in [1, 2, 3, 4]:
    for x in ['a', 'b', 'c']:
        print(item, x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c

## Iterables
#### An object or collection that can be iterated over, iterables can be list, sets, dictionaries, strings and tuples

In [6]:
#Using Range as an iterable 

print("Range from 2 (included) to 6 (excluded) ")
for x in range(2,6): 
    print(x)

print("Range from 1 (included) to 12 (excluded) by steps of 3 ")
for x in range(1,12,3): 
    print(x)

Range from 2 (included) to 6 (excluded)
2
3
4
5
Range from 1 (included) to 12 (excluded) by steps of 3
1
4
7
10

**If the index is needed along with the value, the function `enumerate` is useful.**

In [10]:
for index, x in enumerate(range(-3,3)):
       print(index, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

### Mini Exercise
sum up the values in the list `my_list` using a for loop

In [12]:
#Exercise solution

## While loop

Similarly to `for` loops, the syntax is`while condition:` followed by an indentation of one tab which represents what will be executed.

In [11]:
i = 0

while i<10:
    print(i)
    break

0

#### When do we use a for loop or a while loop?

let's print out the items in the list `numbers` using both for loop and while loop

In [13]:
numbers = [1, 2, 3, 4]

#using for loop
for i in numbers:
    print(i)

1
2
3
4

In [16]:
#using while loop
i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1

1
2
3
4

So take note, for is used when the number of iteration is known

# 3. Functions


In Python, a function is defined as  `def function_name(function_arguments):` followed by an indentation representing what is inside the function.

In [18]:
def greet():
    print("Good Morning")

greet()

Good Morning

**PARAMETERS AND ARGUMENTS**

The terms parameter and argument can be used for the same thing: information that are passed into a function. From a function's perspective: A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that is sent to the function when it is called.

In [22]:
#Parameters
def greet(name):
    print(f'Good Morning {name}')
#Arguments
greet('John Doe')

Good Morning John Doe

### Default parameters and Keyword arguments
Keyword arguments allow us to employ any order, whereas default arguments assist us to deal with the absence of values.

In [23]:
def greet(name='Favour Peters'):
    print(f'Good Morning {name}')
#Arguments
greet(name='John Doe')

Good Morning John Doe

The `return` keyword

In [26]:
def powers(x):
    """
    Return the first powers of x.
    """
    return(x ** 2, x ** 3, x ** 4)

**Mini Exercise**
>
> The Fibonacci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this:  1, 2, 3, 5, 8, 13. Write a function that generate a given number of elements of the Fibonacci sequence.

# 4. Libraries
## NumPy Arrays
NumPy arrays are unique in that they are more flexible than normal Python lists. They are called ndarrays since they can have any number (n) of dimensions (d). They hold a collection of items of any one data type and can be either a vector (one-dimensional) or a matrix (multi-dimensional). NumPy arrays allow for fast element access and efficient data manipulation.

In [55]:
import numpy as np

In [58]:
list1 = [1,2,3,4]

array1 = np.array(list1)
print(array1)

[1 2 3 4]

## Pandas
Pandas is a very popular library for working with data. DataFrames are at the center of pandas. A DataFrame is structured like a table or spreadsheet. The rows and the columns both have indexes, and you can perform operations on rows or columns separately.

A pandas DataFrame can be easily changed and manipulated. Pandas has helpful functions for handling missing data, performing operations on columns and rows, and transforming data.

## Pandas Series


A Pandas `Series` is a one-dimensional array of indexed data.

In [56]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [57]:
data[0]

0.25

In [59]:
toyPrices = np.array([5,8,3,6])
print(toyPrices - 2)

[3 6 1 4]

Another important type of object in the pandas library is the DataFrame. This object is similar in form to a matrix as it consists of rows and columns. Both rows and columns can be indexed with integers or String names. One DataFrame can contain many different types of data types, but within a column, everything has to be the same data type. A column of a DataFrame is essentially a Series. All columns must have the same number of elements (rows).

There are different ways to fill a DataFrame such as with a CSV file, a SQL query, a Python list, or a dictionary. Here we have created a DataFrame using a Python list of lists. Each nested list represents the data in one row of the DataFrame. We use the keyword columns to pass in the list of our custom column names.

In [39]:
import pandas as pd
dataf = pd.DataFrame([
    ['Favour Peters St',34],
    ['Jane Doe', '456 Maple Ave',28],
    ['George Bush', '789 Broadway',51]
    ],
    columns=['name','address','age'])

In [40]:
dataf

               name        address   age
0  Favour Peters St             34   NaN
1          Jane Doe  456 Maple Ave  28.0
2       George Bush   789 Broadway  51.0